body{
    background-color: #12130f;
    margin: 0; 
    padding: 0; 
    display: flex; 
    font-family: 'Exo 2', sans-serif;
}

h1{
    color: #fff; 
    font-size: 2.5em; 
    font-weight: bold;
}

h2{
    color: #fff; 
    font-size: 1.8em; 
    font-weight: 300;
}

h3{
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

input, button, a, li{
    border-color: none !important;
    outline: 0;
    border: none; 
    text-decoration: none;
}

/*-----Login-----*/
/*Left Side*/
#login_div_left{
    display: flex;
    align-items: center;
    background-color: #ddd92a;
    width: 50%; 
}

#login_div_left img{
    width: 45%;
}

#login_div_left div{
    display: flex;
    justify-content: center;
}

/*Rigth Side*/
#login_div_rigth{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#login_div_left h1{
    color: #000;
    font-size: 2.5em;
    font-weight: bold;
}

#email_input_login{
    width: 100%; 
    height: 2em; 
    border-radius: 0.5em; 
    padding-left: 10px;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#pass_input_login{
    width: 100%; 
    height: 2em; 
    border-radius: 0.5em; 
    padding-left: 10px;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#login_button{
    width: 40%;
    height: 2em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    background-color: #ddd92a;
    color: #12130f;
}

#login_button:hover{
    cursor: pointer;
    background-color: #B2B021;
}

#login_div_rigth h3{
    font-size: 1.5em;
    color: #fff;
}

#login_div_rigth a{
    color: #ddd92a;
}

#login_div_rigth a:hover{
    color: #B2B021;
}

/*-----Register-----*/
#register_div_rigth{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#name_input_register{
    width: 100%; 
    height: 2em; 
    border-radius: 0.5em; 
    padding-left: 10px;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#email_input_register{
    width: 100%; 
    height: 2em; 
    border-radius: 0.5em; 
    padding-left: 10px;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#pass_input_register{
    width: 100%; 
    height: 2em; 
    border-radius: 0.5em; 
    padding-left: 10px;
    font-size: 1.2em;
    margin-bottom: 1em;
}

/* Check Box */
.container{
    margin-bottom: 1em;
    position: relative;
    cursor: pointer;
    font-size: 1.4em;
    padding-left: 5%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFF;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
    
  .container input:checked ~ .checkmark {
    background-color: #ddd92a;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }



#register_div_rigth h3{
    font-size: 1.5em;
    color: #fff;
}

#register_div_rigth a{
    color: #ddd92a;
}

#register_div_rigth a:hover{
    color: #B2B021;
}

/*-----Index-----*/
/*-Header-*/
header{
    background-color: #ddd92a;
    width: 100%;
    height: 2.5em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    margin-left: 1em;
    display: flex;
    justify-content: flex-start;
    width: 2em;
}

#Search{
    margin-top: 0.5em;
    width: 50%;
    display: flex;
    justify-content: center;
}

#searchInput{
    width: 100%;
    height: 2em;
    border: none;
    border-left: 0.5em;
}

#btnBusca{
    background-color: #fff;
}

#out{
    width: 5%;
    height: 2em;
    margin-top: 0.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logout_button{
    background-color: transparent;
    color: #12130f;
    font-size: 1.2em;
}

#logout_button:hover{
    cursor: pointer;
}